<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - ProductApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/ProductApp.styles.css" asp-append-version="true"/>
    <style>
        /* Additional styling for aesthetics */
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #f8f9fa;
        }

       

        .container-fluid > .row {
            margin-top: 10px;

        }


    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold" asp-area="" asp-controller="Home" asp-action="Index">ProductApp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

        </div>
    </nav>
</header>
<div class="container-fluid ">
    <div class="row">
        <partial name="_Sidebar"></partial>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="py-4">
                <div class="float-end">
                    <partial name="_Notification"/>
                </div>
                <div class="position-relative">
                    @RenderBody()
                </div>
                
            </div>
        </main>
    </div>
</div>



<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
