<style>
    .sidebar {
        height: 100vh;
        border-right: 1px solid #ddd;
    }

    .nav-link.active {
        background-color: #020202;
        color: white !important;
    }

    .nav-link {
        color: black;


    }

    .nav-link:hover {
        background-color: #706d6d;
        color: white !important;
    }


    .navbar {
        background-color: #022f4c;
        color: white;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: white !important;
    }

    .nav-item {
        max-height: 60px;
    }

    hr {
        margin-top: 5px;
        margin-bottom: 5px;
    }
</style>


<nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link"  asp-controller="Product" asp-action="Index">
                    <i class="bi bi-box-seam me-2"></i> Product
                </a>
                <hr/>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Category" asp-action="Index">
                    <i class="bi bi-tag me-2"></i> Category
                </a>
                <hr/>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Vendor" asp-action="Index">
                    <i class="bi bi-tag me-2"></i> Vendor
                </a>
                <hr/>
            </li>
            
        </ul>
    </div>
</nav>

